@import "../../../../base/variables.scss";

ul.list {
    font-size: 0.9rem;

    li {

        .label {
            font-size: 0.7rem;
        }

        .align-middle {
            display: table;
            height: 100%;

            & .cell {
                display: table-cell;
                vertical-align: middle;
            }
        }

        &.hover {
            &:hover, &:focus {
                background-color: lighten($color-border, 10%) !important;
            }
        }
    }
}

.event-image-container {
    background: lighten($color-border, 15%) !important;
    border: 1px solid $color-border;
    display: block;

    .event-image {
        display: block;
        margin: 0 auto;
        max-height: 500px;
    }
}
