application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

/node_modules/
/.vscode/
/vendor/
/public/
/resources/assets/css/
!/resources/assets/css/sass/
!/resources/assets/css/vendor/
!/resources/assets/css/source.json

*.yml
!routes.yml