application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

/node_modules/
/.vscode/
/vendor/
/resources/assets/css/*
!/resources/assets/css/sass/
!/resources/assets/css/vendor/
!/resources/assets/css/source.json
!/resources/assets/js/
/public/*
!/public/fonts/

*.yml
!routes.yml