@import "../../../base/variables.scss";

.previous-balance {
    background: darken($color-border, 10%);
    text-align: right;
}

#add-ledger-entry-form {
    .form-group {
        padding: 0 0.5rem 0.5rem;
    }
}