@import "./variables.scss";

* {
    box-sizing: border-box;
}

body {
    background: $color-background;
    font-family: Roboto, Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

hr {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lighten($color-text-secondary, 50%);
    margin: 1.25rem 0;
}

.container {
    margin: 0 auto;
    max-width: $width-page;
}
