.text {
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
}

.no-margin {
    margin: 0 !important;
}

.margin {

    &-top {
        &-small {
            margin-top: 0.5rem !important;
        }
        &-medium {
            margin-top: 1.25rem !important;
        }
        &-large {
            margin-top: 2rem !important;
        }
        &-xlarge {
            margin-top: 3rem !important;
        }
    }

    &-right {
        &-small {
            margin-right: 0.5rem !important;
        }
        &-medium {
            margin-right: 1.25rem !important;
        }
        &-large {
            margin-right: 2rem !important;
        }
        &-xlarge {
            margin-right: 3rem !important;
        }
    }

    &-vertical {
        &-small {
            margin-bottom: 0.5rem !important;
            margin-top: 0.5rem !important;
        }
        &-medium {
            margin-bottom: 1.25rem !important;
            margin-top: 1.25rem !important;
        }
        &-large {
            margin-bottom: 2rem !important;
            margin-top: 2rem !important;
        }
        &-xlarge {
            margin-bottom: 3rem !important;
            margin-top: 3rem !important;
        }
    }
}

.float {
    &-right {
        float: right;
    }
}

.clearfix {
    clear: both;
    overflow: auto;
}

.width{
    &-full {
        width: 100% !important;
    }
    &-half {
        width: 50% !important;
    }
}

.hover {
    cursor: pointer;
}