@import "../../../base/variables.scss";

.form-group {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
}

.task-preview {
    border: 1px solid $color-border;

    .preview-header {
        background-color: lighten($color-border, 10%);
        border-bottom: 1px solid $color-border;
        padding: 0.5rem 1.5rem;
    }    

    .preview-body {
        padding: 1rem 1.5rem;
    }
}

.inline-form {
    position: relative;

    input, button {
        margin: 0;
    }
    input[type=text] {
        width: 100%;
    }
    button {
        bottom: 0;
        height: 100%;
        position: absolute;
        right: 0;
    }
}

ul#task-subscriber-list {
    .subscriber-entry {
        display: table;
        width: 100%;

        .button {
            font-size: 0.6rem;
            margin: 0;
            margin-left: 0.5rem;
            padding: .3rem .4rem;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}