@import "../../../base/variables.scss";

.member-position {
    color: $color-text-secondary;
}

#add-member-form {
    width: 100%;

    .form-group {
        position: relative;

        input, select {
            margin: 0;
        }
        select {
            cursor: text;
            width: 100%;
            z-index: 99;
        }
        input[type=submit] {
            bottom: 0;
            height: 100%;
            position: absolute;
            right: 0;
        }
    }
}

.list {
    .list-header {
        display: table;
        position: relative;
        width: 100%;
        
        .button {
            margin: 0;
            margin-left: 0.5rem;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

#unassigned {
    li {
        display: table;
        width: 100%;

        .button {
            margin: 0;
            margin-left: 0.5rem;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}