@import "../base/variables.scss";

.alert {
    color: $color-text-inverted;

    &-success {
        background-color: $color-success;
    }
    &-danger {
        background-color: $color-danger;
    }

    & &-content {
        margin: 0 auto;
        max-width: $width-page;
        padding: .50rem 1rem;
    }
}