@import "../base/variables.scss";

.button {
    border: none;
    border-radius: 0.25rem;
    color: $color-text;
    margin: 0 0 0.5rem;
    padding: 0.5rem 1rem;

    &-larger {
        padding: 0.75rem 1.25rem;
    }

    &-primary {
        background-color: darken($color-background, 15%);

        &:hover, &:focus {
            background-color: darken($color-background, 15% + $button-hover-darken-percentage);
        }
    }

    &-success {
        background-color: $color-success;
        color: $color-text-inverted;

        &:hover, &:focus {
            background-color: darken($color-success, $button-hover-darken-percentage);
        }
    }

    &-danger {
        background-color: $color-danger;
        color: $color-text-inverted;

        &:hover, &:focus {
            background-color: darken($color-danger, $button-hover-darken-percentage);
        }
    }
}