
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 

    .flex {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-shadow: border-box;

        input, select {
            width: 100%;
        }

        @for $i from 1 through 12 {
            &-#{$i} {
                -webkit-box-flex: $i;
                -moz-box-flex: $i;
                -webkit-flex: $i;
                -ms-flex: $i;
                flex: $i;
            }
        }
    }
}