
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 

    .flex {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-shadow: border-box;

        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;

        input, select {
            width: 100%;
        }

        &-third {
            width: 33%;
        }

        &-half {
            width: 33%;
        }
    }
}