@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?21bysu');
  src:  url('../../fonts/icomoon.eot?21bysu#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?21bysu') format('truetype'),
    url('../../fonts/icomoon.woff?21bysu') format('woff'),
    url('../../fonts/icomoon.svg?21bysu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow:before {
  content: "\f0a3";
}
.icon-view:before {
  content: "\f04e";
}
.icon-edit:before {
  content: "\f058";
}
.icon-leader:before {
  content: "\f02a";
}
.icon-delete:before {
  content: "\f0d0";
}
.icon-remove:before {
  content: "\f081";
}
.icon-activate:before {
  content: "\e902";
}
