@import "../base/variables.scss";

.nav {
    background-color: $color-background-inverted;
    color: $color-text-inverted;
    padding: 0.75rem 0;
    z-index: 99999999;

    & a {
        color: $color-text-inverted;
        text-decoration: none;
    }

    & &-content {
        margin: 0 auto;
        width: 100% !important;
        max-width: $width-page;
        overflow: hidden;

        @include display-flex();

        & .right-content {
            margin: 0 0 0 1rem;
            flex-grow: 1;
            @include display-flex();
        }

        & .item {
            margin: auto 0.55rem;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }

        & .button {
            background: transparent;
            border: 1px solid $color-text-inverted;
            color: $color-text-inverted;

            &:hover, &:focus {
                background: $color-text-inverted;
                color: $color-text;
            }
        }

        & .align-right {
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
        }
    }
}