@import "../base/variables.scss";

.nav {
    background-color: $color-background-inverted;
    color: $color-text-inverted;
    z-index: 99999999;

    & a {
        color: $color-text-inverted;
        text-decoration: none;

        &.active {
            text-decoration: underline;
        }
    }

    & &-content {
        margin: 0 auto;
        padding: 0.75rem 0;
        width: 100% !important;
        max-width: $width-page;
        overflow: hidden;

        @include display-flex();

        & .right-content {
            margin: 0 0 0 1rem;
            flex-grow: 1;
            @include display-flex();
        }

        & .item {
            margin: auto 0.55rem;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }

        & .button {
            background: transparent;
            border: 1px solid $color-text-inverted;
            color: $color-text-inverted;

            &:hover, &:focus {
                background: $color-text-inverted;
                color: $color-text;
            }
        }

        & .align-right {
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
        }
    }

    &-secondary {
        background-color: lighten($color-background-inverted, 10%);
        font-size: 0.9rem;
    }
}

.profile-dropdown-key {
    margin-left: 0.5rem;
}

.drop-element, .drop-element:after, .drop-element:before, .drop-element *, .drop-element *:after, .drop-element *:before {
  box-sizing: border-box; }

.drop-element {
  position: absolute;
  display: none; }
  .drop-element.drop-open {
    display: block; }

.drop-element.drop-theme-basic {
  max-width: 100%;
  max-height: 100%; }
  .drop-element.drop-theme-basic .drop-content {
    border-radius: 3px;
    font-family: inherit; }

.drop-element {
  z-index: 99999999;
  .drop-content {
      @include box-shadow(3px);

      background: $color-background;
      border: 1px solid $color-border;
      margin-top: 0.5rem;
      padding: 0;

      .profile-details {
          padding: 1rem;
          width: 250px;
      }

      .profile-links {
          border-top: 1px solid $color-border;
          color: $color-text;
          display: block;
          padding: 0.5rem 1rem;
          text-decoration: none;

          &:focus, &:hover {
              background: darken($color-background, 10%);
              text-decoration: underline;
          }
      }
  }
}