@import "../../../../base/variables.scss";

.form-group {
    padding: 0.5rem;    
}

.table td {

    padding: 0.1rem;
    @include no-select();

    &.empty-row {
        padding: 0.5rem;
    }

    @for $i from 0 through 100 {
        &.percent-#{$i} {
            background-color: darken(#fff, $i) !important;
        }
    }
}