.alert {
  color: #fafafa; }
  .alert-success {
    background-color: #2ecc71; }
  .alert-danger {
    background-color: #e74c3c; }
  .alert .alert-content {
    margin: 0 auto;
    max-width: 1000px;
    padding: .50rem 1rem; }
