.nav {
  background-color: #24292e;
  color: #fafafa;
  padding: 0.75rem 0;
  z-index: 99999999; }
  .nav a {
    color: #fafafa;
    text-decoration: none; }
  .nav .nav-content {
    margin: 0 auto;
    width: 100% !important;
    max-width: 1000px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex; }
    .nav .nav-content .right-content {
      margin: 0 0 0 1rem;
      flex-grow: 1;
      display: -webkit-flex;
      display: flex; }
    .nav .nav-content .item {
      margin: auto 0.5rem; }
    .nav .nav-content .button {
      background: transparent;
      border: 1px solid #fafafa;
      color: #fafafa; }
      .nav .nav-content .button:hover, .nav .nav-content .button:focus {
        background: #fafafa;
        color: #24292e; }
    .nav .nav-content .align-right {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-end;
      justify-content: flex-end; }
