.nav {
  background-color: #2f2626;
  color: #fafafa;
  padding: 0.75rem 1.25rem; }
  .nav a {
    color: #fafafa;
    text-decoration: none; }
  .nav .nav-content {
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden; }
    .nav .nav-content .left-content,
    .nav .nav-content .right-content {
      width: 50%; }
    .nav .nav-content .left-content {
      float: left; }
    .nav .nav-content .right-content {
      float: right;
      text-align: right; }
    .nav .nav-content .item {
      display: inline-block;
      margin: 0 0.5rem; }
    .nav .nav-content .button {
      background: transparent;
      border: 1px solid #fafafa;
      color: #fafafa; }
      .nav .nav-content .button:hover, .nav .nav-content .button:focus {
        background: #fafafa;
        color: #2f2626; }
