.table {
  border: 1px solid #d5d5d5;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .table td, .table th {
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    padding: 0.5rem 0.25rem; }
    .table td:last-child, .table th:last-child {
      border-right: none; }
  .table thead tr td, .table thead tr th {
    background-color: #efefef; }
  .table tbody tr:last-child td, .table tbody tr:last-child th {
    border-bottom: none; }
  .table tbody tr:nth-child(2n) td, .table tbody tr:nth-child(2n) th {
    background-color: #fbfbfb; }
