@import "../../base/variables.scss";

form#add-batch-form {
    border: 1px solid $color-border;
    border-bottom: none;
    padding: 0.5rem 1rem;
    width: 100%;

    .form-group {
        position: relative;

        input {
            margin: 0;
        }
        input[type=text] {
            width: 100%;
        }
        input[type=submit] {
            bottom: 0;
            height: 100%;
            position: absolute;
            right: 0;
        }
    }
}

ul#batch-list {
    .batch-entry {
        display: table;
        width: 100%;

        .button {
            margin: 0;
            margin-left: 0.5rem;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}