.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;

    & .flex-item {
        margin: auto;
    }
}
