@import "../../base/variables.scss";

.card {
    margin: 3rem auto;
    width: 100%;
}

#name-search-bar-container {
    border: 1px solid $color-border;
    border-bottom: none;
    padding: 0.5rem 1rem;
    width: 100%;

    input {
        margin: 0;
    }
    input[type=text] {
        width: 100%;
    }
}

#member-list {
    li {
        display: table;
        width: 100%;

        .button {
            margin: 0;
            margin-left: 0.5rem;
        }

        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}